.swiper-slide {
  transition: transform 0.3s;
  transform-origin: center center;
  opacity: 1;
  position: relative;
  z-index: 1;
}

.swiper-slide-prev {
  z-index: 0;
  transform: translateX(-50%) scale(0.8) translateX(-50px); /* Adjust as needed */
  opacity: 0.7;
}

.swiper-slide-next {
  z-index: 0;
  transform: translateX(50%) scale(0.8) translateX(50px); /* Adjust as needed */
  opacity: 0.7;
}

.swiper-button-prev,
.swiper-button-next {
  color: white; 
  font-size: 20px; 
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  z-index: 10; 
}


.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer; 
}
